/**
 * This file is for your custom CSS.
 * This file is not modified or overwritten during upgrades
 * Created by Andreacw (Altis Life Italia Reloaded Team)
 */

 #ipsLayout_body {
    padding-top: 1% !important;

}

.ipsBreadcrumb {
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(0,0,0,.5) 30%,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 70%,rgba(255,255,255,0) 100%) !important;
    box-shadow: 0 0 6px -1px #000 !important;
    border-radius: 0 !important;
    border: 1px solid #000 !important;
}

#elUserNav {
    background-color: rgba(6, 6, 6, 0.7) !important;
    box-shadow: 0 0 6px -1px #000 !important;
    border-radius: 0 !important;
    border: 1px solid #000 !important;
}

.ipsWidget {
    background-color: rgba(0,0,0,.5) !important;
    box-shadow: 0 0 6px -1px #000 !important;
    border-radius: 0 !important;
}

.ipsWidget {
    border: 1px solid #000 !important;
}

.ipsWidget_title, .ipsType_sectionTitle, .ipsComment_header {
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(0,0,0,.5) 30%,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 70%,rgba(255,255,255,0) 100%) !important;
}

.ipsWidget_inner {
    background-color: hsla(0, 0%, 100%, .08) !important;
}

.ipsComment, .ipsAreaBackground{
    background-color: rgba(0,0,0,.5) !important;
}

.cTopic > .ipsBox > .ipsAreaBackground{
    background-color: hsla(0, 0%, 100%, .08) !important;
}

.ipsType_pageTitle, .ipsType_sectionTitle, .ipsType_secondaryTitle, .ipsType_sectionHead, .ipsType_minorHeading {
    font-family: "Exo", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.ipsBox, .ipsDialog > div, .ipsStreamItem.ipsStreamItem_contentBlock, .ipsMemberCard, #elUserSignIn_external .ipsAreaBackground_light, .ipsReact_reactCount, .ipsDataItem.cForumGrid, .ipsCalendarDate, .eventStreamDate .ipsCalendarDate, .ipsRichEmbed .ipsCalendarDate, div#elTabBar, #elLeaderboardContent, #elLeaderboardContent section.ipsSpacer_top, .cPopularItem, .cStaffDirectory_full, .cStaffDirectory .ipsGrid > div, .cGalleryCat, .cNexusCategoryBlock, #elClubHeader, #elMyClubsActivity .ipsStreamItem.ipsStreamItem_contentBlock, #elGalleryHeader, #elGalleryImage {
    background-color: rgba(0,0,0,.5) !important;
    box-shadow: 0 0 6px -1px #000 !important;
    border-radius: 0 !important;
}

.ipsAreaBackground_reset, #elChatboxContent, #chatBoxForm {
    background-color: rgba(0, 0, 0, 0.048) !important;
}

.ipsDataList.ipsDataList_zebra .ipsDataItem:not(.ipsDataItem_selected):not(.ipsModerated):not(.ipsDataItem_new):not(.ipsDataItem_success):not(.ipsDataItem_warning):not(.ipsDataItem_error):not(.ipsDataItem_info):not(.ipsDataItem_status):nth-child(2n) {
    background-color: hsla(0, 0%, 100%, .08) !important;
}

.cForumList {
    color: #f8f9fa;
}

.cForumList .ipsDataList.ipsDataList_zebra :not(:last-child).ipsDataItem {
    border-bottom: 1px solid #000;
}

.ipsBox .ipsAreaBackground_light,
.ipsAttachment_dropZone.ipsDragging,
.ipsComposeArea_dropZone.ipsDragging,
.ipsDataList.ipsDataList_zebra .ipsDataItem:not( .ipsDataItem_selected ):not( .ipsModerated ):nth-child(even),
.cStatusUpdates .ipsComment.ipsComment_hasChildren > .ipsComment_content,
.ipsApp.ipsApp_front .ipsFieldRow_section,
.cPayment,
.cRatingColumn_on {
    background-color: rgba(0,0,0,.5) !important;
}

.ipsComment_highlighted.ipsBox:not(.ipsBox_transparent):not(.ipsModerated):not(.ipsComment_selected):not(.ipsComment_popular), .ipsComment_highlighted:not(.ipsBox_transparent):not(.ipsModerated):not(.ipsComment_selected):not(.ipsComment_popular) .ipsAreaBackground_reset {
    background-color: rgba(0,0,0,.5) !important;
}

.cPost.ipsComment_highlighted .ipsComment_content {
    background-color: rgba(0,0,0,.5) !important;
}

.ipsComment_highlighted:not(.ipsBox_transparent):not(.ipsModerated):not(.ipsComment_selected):not(.ipsComment_popular) {
    box-shadow: 0 0 6px -1px #c83e42 !important;
    border: 1px solid #c83e42 !important;
}

.ipsComment_content {
    height: 100% !important;
}

footer {
    padding-top: 1% !important;
}

#ipsLayout_footer {
    background: none !important;
}

.ta-Footer {
    background: linear-gradient(to right,rgba(255,255,255,0) 0,rgba(0,0,0,.5) 30%,rgba(0,0,0,.5) 50%,rgba(0,0,0,.5) 70%,rgba(255,255,255,0) 100%) !important;
    border-top: 1px solid #000 !important;
    border-bottom: 1px solid #000 !important;
}

.ipsComment.ipsComment_selected .ipsComment_content,
.ipsComment.ipsComment_selected .ipsComment_author,
.cPost.ipsBox.ipsComment_selected:not( .ipsBox_transparent ):not( .ipsModerated ),
.cPost.ipsBox.ipsModerated.ipsComment_selected:not( .ipsBox_transparent ){
    background-color: rgba(0,0,0,.5) !important;
}

.ipsReact_reactCount{
    background-color: hsla(0, 0%, 100%, .08) !important;
    border: 1px solid #000 !important;
    color: #f8f9fa !important;
}

.ipsReact_reactCount > span > span:last-child, .ipsReact_reactCount > a > span:last-child{
    color: #f8f9fa !important;
}

.SG_record_right_with_image h1 {
    color: #f8f9fa !important;
}

.ipsDialog, .ipsDialog_title, .ipsDialog_content{
    background-color: rgba(0, 0, 0, 0.048) !important;
}

.ipsContained{
    background-color: rgba(0, 0, 0, 0.048) !important;
}

.ipsComment_author{
    background-color: rgba(0, 0, 0, 0.048) !important;
}

.ipsPip{
    display: none !important;
}

.ipsMessage_warning{
    background-color: rgba(240, 154, 57, 0.747) !important;
}

div.ipsList_reset{
    background-color: rgba(0, 0, 0, 0.048) !important;
}

.ipsWidget .ipsAttachment_progress {
    border: 1px solid #0c0c0c !important;
}

.ipsBox >.cPastLeaders_title span, .cPastLeaders_cell, .cPastLeaders_title::before, .cCalendar td.cCalendar_nonDate, .cForumMiniList_categorySelected, .ipsMemberCard, .ipsDataList.ipsDataList_zebra.cTopicList, .ipsDataList.ipsDataList_zebra[data-role="tableRows"], .ipsSticky, #elDownloadsSubmit_progress.ipsSticky{
    background: none !important;
}

.ipsMenu_item > a {
    color: #f8f9fa !important;
}

.ipsMenu_item > a:hover {
    color: #0c0c0c !important;
}

.cGalleryLightbox_info{
    background: none !important;
}