@import url('https://fonts.googleapis.com/css?family=Exo');

/* GLOBAL STYLES
-------------------------------------------------- */

body {
    padding-top: 5.7rem;
    padding-bottom: 3rem;
    color: #ffffff;
    font-family: 'Exo', sans-serif;
    background: url("https://www.alir.eu/etero/sectionImages/homepage/arma_def.jpg") repeat-y fixed center top #000000;
}

nav{
    font-family: 'Exo', sans-serif;
    font-size: xx-large;
    font-weight: bold;
    background: linear-gradient(141deg, #2D3035 0%, #2D3035 51%, #212327 75%);
    border-bottom: 1px solid #4d5055;
}

a{
    color: #f8f9fa;
}

.worksans{
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.wstitle{
    font-family: 'Exo', sans-serif;
    font-weight: bold;
    text-transform: capitalize;
}

.tip {
    font-family: 'Exo', serif;
    position: absolute;
    color: rgb(117, 117, 117);
    margin: 10px 5px;
}

/* Carousel base class */
.carousel {
    margin-bottom: 1%;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
    height: 20rem;
    background-color: #777;
}
.carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
}

/* Center align the text within the three columns below the carousel */
.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}
.marketing h2 {
    font-weight: 400;
}
.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.infolink{
    padding-left: 5px;
    cursor: pointer;
}

.infolink:hover{
    color: #0056b3 !important;
}

.card-footer{
    color: #5f5f64 !important;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
    /* Bump up size of carousel content */
    .carousel-caption p {
        margin-bottom: 1.25rem;
        font-size: 1.25rem;
        line-height: 1.4;
    }

    .featurette-heading {
        font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
        margin-top: 7rem;
    }
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.fas{
    position: relative;
    /* Adjust these values accordingly */
    top: 5px;
    left: 5px;
}

.button-arma{
    background-color: rgba(0,0,0,.35);
    box-shadow: 0 0 6px -1px #000;
    border-radius: 0 !important;
    border: 1px solid #000;
    text-align: center;
    color: white;
}

.button-arma:hover{
    background-color: hsla(0,0%,100%,.08);
    box-shadow: 0 0 6px -1px #000;
    border-radius: 0 !important;
    border: 1px solid #000;
    text-align: center;
    color: white;
}

.card{
    margin-top: 10px;
    padding-right: 12px;
    padding-bottom: 7px;
    padding-left: 11px;
    border-radius: 0 !important;
    box-shadow: 0 0 10px 0 #000;
    opacity: 1;
    transition: opacity 1000ms ease-out 0s;
    border: 1px solid #000;
    background-color: hsla(0,0%,100%,.08);
}

.services-line{
    background-color: rgba(0,0,0,.35);
    box-shadow: 0 0 6px -1px #000;
    border-radius: 0 !important;
    border: 1px solid #000;
    text-align: center;
}

.carosel-style-black{
    background-color: rgba(0,0,0,.35);
}

.title-carosel{
    font-weight: bold;
    font-size: larger;
}

.card-black{
    margin-bottom: 10px;
    background-color: rgba(0,0,0,.35);
    box-shadow: 0 0 6px -1px #000;
    font-size: 20px;
    border-radius: 0 !important;
    border: 1px solid #000;
    font-weight: 300;
    text-align: center;
}

.footer-black{
    background-color: rgba(0,0,0,.35);
    box-shadow: 0 0 6px -1px #000;
    border: 1px solid #000;
    padding: 2%;
    border-radius: 0 !important;
}

.modal-content{
    border-color: #2b2b2f;
    background-color: #2d3035;
    color: #ffffff;
}

.list-group-item{
    border-color: #2b2b2f;
    background-color: #2d3035;
    color: #ffffff;
}
/* SOCIAL ICON
-------------------------------------------------- */

.social-aliricons {
    margin: 0 auto;
}

.aliricon {
    float: left;
    position: relative;
    width: 23%;
    height: 0;
    margin: 1% 1%;
    padding-bottom: 14%;
    padding-right:10px;
}
.aliricon a {
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    height: 130%;
    border: 0;
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    color: #ffffff ! important;
}

.aliricon a:hover {
    background-color: rgba(0,0,0,.35);
    box-shadow: 0 0 6px -1px #000;
    font-size: 20px;
    color: #ffffff ! important;
    border-radius: 0 !important;
    border: 1px solid #000;
    background-size: 0;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
}

.aliricon-name {
    position: absolute;
    top: 50%;
    width: 100%;
    margin-top: -7px;
    color: #ffffff;
    font-size: 13px;
    text-align: center;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    opacity: 0;
    -webkit-filter: blur(25px);
    filter: blur(25px);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    will-change: transform;
}

.aliricon:hover .aliricon-name {
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    opacity: 1;
    -webkit-filter: blur(0);
    filter: blur(0);
}

.aliricon-facebook a {
    background-image: url("https://alir.eu/etero/social/facebook.svg");
}
.aliricon-twitter a {
    background-image: url("https://alir.eu/etero/social/twitter.svg");
}
.aliricon-telegram a {
    background-image: url("https://alir.eu/etero/social/telegram.svg");
}
.aliricon-youtube a {
    background-image: url("https://alir.eu/etero/social/youtube.svg");
}

.slide{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

#alirserver:hover{
    cursor: pointer;
    border-color: #007BFF;
    box-shadow: 0 2px 1px rgba(0,123,255,0.7);
}

#tsserver:hover{
    cursor: not-allowed;
}

/* MOBILE RESPONSIVE
-------------------------------------------------- */

@media screen and (max-width: 1100px){

    #alirCarousel{
        display: none;
    }

    .pagec{
       margin-top: 4px;
    }

    main{
        margin-top: 1em;
    }

    .hideonphone{
        display: none;
    }

}
